*{
	margin: 0;
	padding: 0;
}
.wrap{
	width: 1000px;
	margin: 0 auto;
}
.top{
	height: 70px;
	width: 100%;
	line-height: 70px;
	background-color: white;
}
.logo{
	float: left;
	width: 200px;
	line-height: 70px;
}
.nav{
	width: 74%;
	float: left;
	line-height: 70px;
}
.nav li{
	list-style-type: none;
	float: left;
	height: 70px;
	line-height: 70px;
	font-family: "微软雅黑";
	font-size: 18px;
	text-align: center;
	width: 96px;
}
.nav li a{
	display: block;
	text-decoration: none;
}
.nav li a:link, .nav a:visited{
	color: black;
}
.nav li a:hover, .nav a:active{
	color: black;
	background-color: #bd3847;
	display: block;
}
.ad{
	height: 310px;
}
.news_roll{
	height: 40px;
	margin-top: 25px;
}
.news_roll_left, .news_roll_right{
	height: 40px;
	float: left;
}
.news_roll_left{
	background-color: #bd3847;
	width: 152px;
	text-align: center;
}
.news_roll_left a, .news_roll_right a{
	color: white;
	line-height: 40px;
}
.news_roll_right{
	background-color: #3e3e3e;
	width: 848px;
}
.news_roll_right a{
	padding-left: 30px;
}
.news_roll a{
	text-decoration: none;
}
.course{
	margin-top: 25px;
	height: 165px;
}
.course_list{
	float: left;
}
.course_list p{
	text-align: center;
	padding: 8px 0px;
	border: 1px solid #e8e8e8;
}
.course_list p a{
	text-decoration: none;
	color: black;
}
.course_list_mid{
	margin-left: 5px;
	margin-right: 5px;
}
.content{
	margin-top: 25px;
	height: 300px;
}
.content_left, .content_mid, .content_right{
	height: 300px;
	float: left;
	border: 1px solid #e8e8e8;
	width: 328px;
}
.content_mid{
	margin-left: 5px;
	margin-right: 5px;
}
.content_right{
	
}
.news h3, .hot_active h3, .contact h3{
	color: white;
	background-color: #bd3847;
	height: 40px;
	line-height: 40px;
	padding-left: 25px;
}
.news h3 a, .hot_active h3 a, .contact h3 a{
	text-decoration: none;
	color: white;
}
.date{
	width: 50px;
	height: 60px;
	background-color: #bd3847;
	border-radius: 5px;
	margin: 5px 5px;
	line-height: 60px;
}
.date p{
	margin: 12px 8px;
	line-height: 18px;
	color: white;
	font-size: 14px;
}
.news_list_item, .date{
	float: left;
	/*height: 80px;*/
}
.news_list_item{
	width: 258px;
	margin-top: 3px;
	margin-left: 10px;
	background-color: white;
}
.news_list_item p a{
	text-decoration: none;
	color: black;
	font-size: 14px;
}
.news_list_item h3 a{
	text-decoration: none;
	color: black;
	font-size: 13px;

}
.news_list li{
	list-style-type: none;
	border-bottom: 1px solid #e8e8e8;
	height: 86px;
	border-bottom-height: 300px;
}
.news_list_item h3{
	background-color: white;
}
.hot_active img{
	width: 280px;
	height: 120px;
	margin-top: 25px;
	text-align: center;
}
.hot_active_list{
	width: 280px;
	margin:0 auto;
}
.hot_active_list li{
	list-style-type: none;
	text-align: left;
	margin: 5px 0px;
}
.hot_active_list li a{
	text-decoration:none;
	color: black;
	font-size: 17px;
	
}
.contact p{
	font-size: 15px;
	font-family: "微软雅黑";
	padding-left: 8px;
	padding-top: 10px;
	line-height: 20px;
}
.copyright{
	height: 60px;
	background-color: #e7e7e7;
	text-align: center;
	line-height: 60px;
	margin-top: 7px;
	margin-bottom: 50px;
}
















